.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 16px;
    width: 100vw;
    height: 100vh;
}


.main{
   /* grid-area: 2/2/5/5; */
/* 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-top: 20px;
    width:80%; */
    /* background-image: 50%; */
    /* font-family: 'my Font'; */
    letter-spacing: 9px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 97%;
    padding-left: 20px;
    width: 60vw
}

h2{
    font-family: "my font";
    color: rgba(17, 20, 80, 0.615);
    font-size: 15px;
}

body{
    background-image: url(img/fridge\ texture.jpg);
    background-size: 100vw 100vh;
}
   
.img-wrapper{
    grid-area:2/1/6/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    /* width: 50 vw; */
    
}

/* .flex{
    display: flex;
    flex-direction: row;
} */
/* 
.container{
    display: flex;
    flex-direction: row;
} */


header {
    grid-row: span 1;
    
    grid-column: span 5;
}

@font-face {
    font-family: myFirstFont;
    src: url(img/Dksleepytime-DBDE.otf);
  }

  @font-face {
    font-family: hello;
    src: url(img/DaltonJohn-LVwoW.ttf);
  }

.text{
    grid-area: 2/2/5/5;
    background-image: url(img/paper2.png);
    background-size: 100vw 100vh;
    justify-content: flex-end;
}
  
.three{
    grid-area: 2/5/5/6;
    display: flex;
    width: 20vw;
    justify-content: center;
}

.threed{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mydiv {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    top: 200px;
    left: 150px
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }

  .random {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @font-face {
    font-family: my font;
    src: url(img/Myfont-Regular.ttf);
    
  }


#mydivv {
    position: absolute;
    top: 10px;
    left:20px
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvv {
    position: absolute;
    /* top: 20px; */
    left: 150px
   
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvv {
    position: absolute;
    left: 280px
  
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvvv {
    position: absolute;
    left: 410px
    
/*   
    left:5px;
    top: 30px */
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvvvv {
    position: absolute;
   left: 550px
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvvvvv {
    position: absolute;
   
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }

 