.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 16px;
    width: 100vw;
    height: 100vh;
}


.main{
   /* grid-area: 2/2/5/5; */
/* 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-top: 20px;
    width:80%; */
    /* background-image: 50%; */
    /* font-family: 'my Font'; */
    letter-spacing: 12px;
    font-size: 13px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 97%;
    padding-left: 20px;
    width: 60vw;
    overflow: scroll; */
}

h2{
    font-family: "my font";
    color: rgba(17, 20, 80, 0.615);
    font-size: 30px;
    line-height: 50px;
    margin-top: 3px;
    padding-left: 15px;
}

body{
    background-image: url(img/fridge\ texture.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
   
.img-wrapper{
    grid-area:2/1/5/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 65px;
    padding-top: 200px;
    /* background-color: black; */
    /* width: 50 vw; */
    
}

/* .flex{
    display: flex;
    flex-direction: row;
} */
/* 
.container{
    display: flex;
    flex-direction: row;
} */


/* header {
    grid-row: span 1;
    
    grid-column: span 4;
} */


.header .random{
    grid-area: 1/1/2/4
}

@font-face {
    font-family: myFirstFont;
    src: url(img/Dksleepytime-DBDE.otf);
  }

  @font-face {
    font-family: hello;
    src: url(img/DaltonJohn-LVwoW.ttf);
  }

.text{
    grid-area: 2/2/5/5;
    background-image: url(img/paper2.png);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    /* justify-content: flex-end; */
    z-index: -1;
}
  
.three{
    grid-area: 1/5/6/6;
    display: flex;
    width: 20vw;
    justify-content: center;
    /* align-items: flex-end; */
    height: 100%
}


#mydiv {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    top: 200px;
    left: 75px
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }

  #divmy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    top: 200px;
    left: 225px
    /* border: 1px solid #d3d3d3; */
  }
  
  #divmyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }

  #divvmy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    top: 20px;
    left: 870px
    /* border: 1px solid #d3d3d3; */
  }
  
  #divvmyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }
  #divvvmy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    bottom: 150px;
    right: 450px
    /* border: 1px solid #d3d3d3; */
  }
  
  #divvvmyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }

  #divmyy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    top: 1px;
    right: 225px
    /* border: 1px solid #d3d3d3; */
  }
  
  #divmyyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }
  #divmyyy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    bottom: 50px;
    left: 290px
    /* border: 1px solid #d3d3d3; */
  }
  
  #divmyyyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }
  #diivmy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    top: 215px;
    right: 230px
    /* border: 1px solid #d3d3d3; */
  }
  
  #diivmyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }

  #divmyyyy {
    position: absolute;
    z-index: 9;
    /* background-color: #f1f1f145; */
    bottom: 50px;
    right: 180px;
    rotate: 87deg
    /* border: 1px solid #d3d3d3; */
  }
  
  #divmyyyyheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */
   
  }




  .random {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @font-face {
    font-family: my font;
    src: url(img/Myfont-Regular.ttf);
    
  }


#mydivv {
    position: absolute;
    top: 10px;
    left:20px
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvv {
    position: absolute;
    /* top: 20px; */
    left: 150px
   
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvv {
    position: absolute;
    left: 280px
  
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvvv {
    position: absolute;
    left: 410px
    
/*   
    left:5px;
    top: 30px */
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }
  #mydivvvvvv {
    position: absolute;
   left: 550px
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }




 
  /* border: 1px solid #d3d3d3; */

  #mydivvvvvvv {
    position: absolute;
   left: 690px
   
    /* border: 1px solid #d3d3d3; */
  }
  
  #mydivvvvvvvheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    /* color: #fff; */

  }


  audio{
    grid-area: 5/4/6/5;
    display: flex;
    justify-content: flex;
    align-items: center;
  }


.liberty{
    grid-area: 5/5/6/6;
}

.liberty img{
    width: 100px;
    grid-area: 5/5/6/6;
    padding-bottom: 40px;
}

.seal{
    grid-area: 4/4/5/5;
    z-index: 3;

}
.seal img{
    grid-area: 4/4/5/5
}


.mingi {
    grid-area: 2/3/3/5;
    display: flex;
    justify-content: flex-end;
}


.mingi img{
    width: auto;
    height: 100%;
    
}


.about{
    grid-area: 2/2/3/4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    /* width: 100%; */
}

h1{
    font-family: "my font";
    color: rgba(17, 20, 80, 0.615);
    padding-left: 30px;
    letter-spacing: 20px;

}


.doto-uniquifier{
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:"ROND" 0;
}