.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    gap: 16px;
    width: 100vw;
    height: 100vh;
}

.top{
    display: flex;
    flex-direction: row;
    grid-area: 1/2/2/6;
    justify-content: space-between;
    align-items: flex-end;
    
}

.middle{
    display: flex;
    flex-direction: row;
    grid-area: 2/2/4/6;
    justify-content: space-around;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: row;
    grid-area: 4/2/5/6;
    justify-content: space-evenly;
}


body{
    background-image: url(img/backgroundfridge.jpg);
    background-size: 100vw 100vh;
}

.back{
    grid-area: 1/6/5/7;
    display: flex;
    align-items: center;
    justify-content: center;
}
